# Bonus Project: Analyzing Monthly Sales Data

## Objective
Analyze a dataset of monthly sales to understand sales trends and create a basic plot using Python.

## Dataset 
We'll use a simple CSV file named monthly_sales.csv with the following columns:
- Month: The month of the year (e.g., "January", "February", etc.)
- Sales: The total sales for that mont

## Instruction

### 1. Download and Import the Required Libraries:
- Download the provided monthly_sales.csvfile and place it in the working directory.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### 2. Load the Dataset
- Load the data into a Pandas DataFrame.

In [2]:
df = pd.read_csv('monthly_sales.csv')

### 3. Data Exploration

In this step we want to know the data structure.

In [3]:
df.head(5)

      Month  Sales
0   January   1000
1  February   1500
2     March   1200
3     April   1700
4       May   1600

To print the first 5 rows of the data frame to understand the structure.

In [4]:
df.shape

(12, 2)

Print information about the how many columns and rows.

In [5]:
df.info

<bound method DataFrame.info of         Month  Sales
0     January   1000
1    February   1500
2       March   1200
3       April   1700
4         May   1600
5        June   1800
6        July   2000
7      August   1900
8   September   2200
9     October   2100
10   November   2300
11   December   2500>

To know their data types

In [6]:
df.describe

<bound method NDFrame.describe of         Month  Sales
0     January   1000
1    February   1500
2       March   1200
3       April   1700
4         May   1600
5        June   1800
6        July   2000
7      August   1900
8   September   2200
9     October   2100
10   November   2300
11   December   2500>

To see summary statistics for numerical columns (e.g., mean, min, max, etc.).

In [7]:
df.isnull().sum()

Month    0
Sales    0
dtype: int64

Identify missing values in the dataset